:root {
    --main-bg-color: black;
    --secondary-bg-color: red;
    --main-font-size: 25px;
    --page-small-height: 80vh;
    --page-standard-height: 100vh;
}

.navbar-toggler {
    height: 5vh;
    width: 5vh;
}

nav span,i {
    color: black;
    font-size: var(--main-font-size);
    font-weight: bold;
}

#navbar-wrapper {
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    height: 11vh;
}

.navbar-collapse {
    background-color: var(--secondary-bg-color);
    padding: 0 1em;
}

#page1 {
    height: var(--page-small-height);
}

#page2 {
    height: var(--page-standard-height);
}